{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}

{% block PageBody %}
    Editing Detials For  {{ server.ipaddress }}
    <hr/>
    <form action="{% url 'updateservers' server.SerialNumber %}">
        {% csrf_token %}
        <label class="form-group" for="ipaddress">Internet Protocol Address:</label>
            <input class="form-control" type="text" name="ipaddress" value="{{ server.ipaddress }}" placeholder="{{ server.ipaddress }}"><br/>

            <label class="form-group" for="hdd">Storage</label>
            <input class="form-control" type="text" name="hdd" value="{{ server.hdd }}" placeholder="{{ server.hdd }}"><br/>

            <label class="form-group" for="ram">Memory</label>
            <input class="form-control" type="text" name="ram" value="{{ server.ram }}" placeholder="{{ server.ram }}"><br/>

            <label class="form-group" for="core">core</label>
            <input class="form-control" type="number" name="core" value="{{ server.core }}" placeholder="{{ server.core }}"><br/>

            
            <label class="form-group" for="allocatedfor">Allocated For</label>
            <input class="form-control" type="text" name="allocatedfor" value="{{ server.allocatedfor }}" placeholder="{{ server.allocatedfor }}"><br/>

            <label class="form-group" for="creationorder">Ordered By</label>
            <input class="form-control" type="text" name="creationorder" value="{{ server.creationorder }}" placeholder="{{ server.creationorder }}"><br/>
            
            <label class="form-group" for="os">Select OS Type</label>
            <select name="os">
                <option value="">{{ server.os }}</option>
                <option value="windows2008">Windows 2008</option>
                <option value="linux">Linux</option>
            </select>
            <br/>
            <br/>
            <label class="form-group" for="license">Select license Type</label>
            <select name="License">
                <option value="">{{ server.License }}</option>
                <option value="paid">Microsoft</option>
                <option value="opensource">Opensource</option>
            </select>
            <br/>
            <br/>
            <input class="btn btn-primary" type="submit" value="ADD">
    </form>
{% endblock PageBody %}