<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">To Do list Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
    <form class="form-inline my-2 my-lg-0" method="POST">
    {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Add Item" aria-label="Search"
      name="item">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add To do list</button>
    </form>
  </div>
</nav>