{% extends 'base.html' %}
{% block title %}
    search
{% endblock title %}

{% block content %}
   <table class="table table-dark">
        <thead> 
            <tr>
                <th>Name</th>
                <th>Email ID</th>
                <th>City</th>
                <th>Marks</th>
                
            </tr>
        </thead>
        {% for data in results %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.emailid }}</td>
                <td>{{ data.city }}</td>
                <td>{{ data.marks }}</td>
                
                
            </tr>
        {% endfor %}

    </table>
{% endblock %}
